__pycache__/
*.pyc
.venv/
venv/
env/

.env

chroma_db/
data/raw/
outputs/generated_test_cases/*
outputs/rtm/*
!outputs/generated_test_cases/.gitkeep
!outputs/rtm/.gitkeep

.pytest_cache/
.mypy_cache/
*.egg-info/
build/
dist/

.vscode/
.idea/
